<winput
	type="password"
	[type]="field.Show ? 'text' : 'password'"
	[name]="field.Label || 'name'"
	[focused]="component.focused"
	[ngClass]="component.class"
	[formControl]="control"
	[label]="field.Label"
	[form]="form"
	[value]="value"
></winput>
<div style="position: absolute; left: 200px; top: 220px">
	<span
		style="
			width: 15px;
			border-radius: 20px;
			height: 15px;
			background-color: rgb(187, 23, 23);
			display: inline-block;
			margin-left: 10px;
		"
		*ngIf="ui.level(control.value)> 1"
	></span>
	<span
		style="
			width: 15px;
			border-radius: 20px;
			height: 15px;
			background-color: rgb(235, 151, 25);
			display: inline-block;
			margin-left: 10px;
		"
		*ngIf="ui.level(control.value)> 2"
	></span>
	<span
		style="
			width: 15px;
			border-radius: 20px;
			height: 15px;
			background-color: rgb(255, 251, 0);
			display: inline-block;
			margin-left: 10px;
		"
		*ngIf="ui.level(control.value)> 3"
	></span>
	<span
		style="
			width: 15px;
			border-radius: 20px;
			height: 15px;
			background-color: rgb(33, 211, 17);
			display: inline-block;
			margin-left: 10px;
		"
		*ngIf="ui.level(control.value)> 4"
	></span>
</div>
<div>
	<span
		(click)="field.Show = !field.Show"
		class="material-icons"
		style="
			position: absolute;
			left: 245px;
			top: 252px;
			font-size: 22px;
			color: rgb(90, 90, 90);
		"
	>
		visibility
	</span>
</div>
