.smart{
    position: absolute;
     left: 200px; 
     top: 220px
}
.red{
    width: 15px;
        border-radius: 20px;
        height: 15px;
        background-color: rgb(187, 23, 23);
        display: inline-block;
        margin-left: 10px;
}
.orange{
    width: 15px;
        border-radius: 20px;
        height: 15px;
        background-color: rgb(235, 151, 25);
        display: inline-block;
        margin-left: 10px;
}
.yellow{
    width: 15px;
    border-radius: 20px;
    height: 15px;
    background-color: rgb(255, 251, 0);
    display: inline-block;
    margin-left: 10px;
}
.green{
    width: 15px;
    border-radius: 20px;
    height: 15px;
    background-color: rgb(33, 211, 17);
    display: inline-block;
    margin-left: 10px;
}
#eye{
    position: absolute;
    left: 245px;
    top: 252px;
    font-size: 22px;
    color: rgb(90, 90, 90);
}

@media screen and (max-width: 768px) {
    .smart {
        left: 100px;
    }
    .smart span{
        width: 8px;
    }
    .red{
        width: 10px;
			border-radius: 20px;
			height: 15px;
			background-color: rgb(187, 23, 23);
			display: inline-block;
			margin-left: 10px;
    }
    .orange{
        width: 10px;
			border-radius: 20px;
			height: 15px;
			background-color: rgb(235, 151, 25);
			display: inline-block;
			margin-left: 10px;
    }
    .yellow{
        width: 10px;
        border-radius: 20px;
        height: 15px;
        background-color: rgb(255, 251, 0);
        display: inline-block;
        margin-left: 10px;
    }
    .green{
        width: 10px;
        border-radius: 20px;
        height: 15px;
        background-color: rgb(33, 211, 17);
        display: inline-block;
        margin-left: 10px;
    }
    #eye{
        position: absolute;
        left: 200px;
        top: 252px;
        font-size: 22px;
        color: rgb(90, 90, 90);
    }
}