<div class="auth-wrapper">
	<div class="auth__wrap">
		<div class="auth__img">
			<icon-spider></icon-spider>
			<span
				class="material-icons"
				*ngIf="!us.mode"
				(click)="us.set('dark')"
			>
				dark_mode
			</span>
			<span class="material-icons" *ngIf="us.mode" (click)="us.set()">
				light_mode
			</span>
		</div>
		<div class="auth__form">
			<div class="auth">
				<span
					class="material-icons"
					*ngIf="!us.mode"
					(click)="us.set('dark')"
				>
					dark_mode
				</span>
				<span class="material-icons" *ngIf="us.mode" (click)="us.set()">
					light_mode
				</span>
				<wform
					[config]="form"
					[submition]="user"
					(wSubmit)="submit($event)"
				>
				</wform>
			</div>
		</div>
	</div>
</div>
