<div class="auth-wrapper">
	<div class="auth">
		<div class="auth__title">Sign In / Sign Up</div>
		<form class="auth__forms" (ngSubmit)="submit()">
			<div class="w-forms">
				<span class="w-forms__title">Email:</span>
				<input class="w-forms__input" (keydown.enter)="!user.password && password_focus()" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" #email>
			</div>
			<div class="w-forms">
				<span class="w-forms__title">Password:</span>
				<div class="w-forms__input-block">
					<input class="w-forms__input" [type]="show_password && 'text' || 'password'" placeholder="Password" name="password" [(ngModel)]="user.password" #password>
					<span class="w-forms__toggle" (click)="show_password = !show_password">
						<i *ngIf="show_password" class="icon-visibility">visibility</i>
						<i *ngIf="!show_password">visibility_off</i>
					</span>
				</div>
				<span class="w-forms__level" [class._sky]="(ui.valid(user.password, 'password'))==1" [class._orange]="(ui.valid(user.password, 'password'))==2" [class._green]="(ui.valid(user.password, 'password'))==3">Level: {{ui.valid(user.password, 'password')}}</span>
			</div>
			<div class="w-forms" *ngIf="reseting">
				<span class="w-forms__title">Code:</span>
				<input class="w-forms__input" type="text" placeholder="Code" name="code" [(ngModel)]="user.code">
			</div>
			<div class="auth__btn">
				<button class="w-btn _primary" type="submit">Let's go</button>
			</div>
		</form>
	</div>
</div>
