<div class="container-fluid">
	<div class="page-wrapper">
		<div class="translate__top-inner">
			<div class="translate__inner">
				<label class="formboxs" for="">
					<div class="formboxs_title" translate>
						Common.Select language
					</div>
					<select
						[(ngModel)]="lang"
						(ngModelChange)="ts.prepare_words(lang)"
						class="translate__select"
						placeholder="Translate"
					>
						<option *ngFor="let l of ts.languages" [value]="l.code">
							{{l.name}}
						</option>
					</select>
				</label>
				<label class="formboxs" for="">
					<div class="formboxs_title" translate>
						Common.Select page
					</div>
					<select
						[(ngModel)]="page"
						class="translate__select"
						placeholder="Translate"
					>
						<option [value]="''" translate>Common.All</option>
						<option *ngFor="let p of ts.pages" [value]="p">
							{{p}}
						</option>
					</select>
				</label>
			</div>
			<wbutton
				class="translate__dawn-jcon"
				(click)="ts.download_json()"
			>
				<span translate>Common.Download JSON</span>
			</wbutton>
		</div>
		<div class="main__sub-inner translate__main-wrap">
			<div
				*ngFor="let word of ts.words|search:page:'page'"
				class="translate__main-inner"
			>
				<div class="main__contant-inner">
					<div class="formboxs_label">
						<span>
							{{word.word}}
						</span>
						<div class="img-close" (click)="ts.delete(word)"></div>
					</div>
					<label class="formbox" for="">
						<input
							placeholder="{{'Common.Translate'|translate}}"
							(ngModelChange)="ts.update_translate(word.slug, lang, word.translate)"
							[(ngModel)]="word.translate"
							class="input"
							type="text"
						/>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
