<div class="components-wrapper">





	<div class="accardion-wrapper">
		<wcollapse>
			<div header class="accardion__header">
				<h1>This is the header collapse</h1>
				<div class="accardion__arrow">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 9L12 15L18 9" stroke="url(#paint0_linear_31_2)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<defs>
						<linearGradient id="paint0_linear_31_2" x1="8" y1="-5.5" x2="12" y2="29" gradientUnits="userSpaceOnUse">
						<stop stop-color="#183AE9"/>
						<stop offset="1" stop-color="#2E9D75"/>
						</linearGradient>
						</defs>
					</svg>
				</div>
			</div>
			<div body class="accardion__body">
				<p>It is a long established <span>fact that</span> a reader will be distracted by the readable content of a page when looking at its layout</p>
			</div>
		</wcollapse>
	</div>

	<div class="accardion-wrapper">
		<wcollapse>
			<div header class="accardion__header">
				<h1>This is the header collapse</h1>
				<div class="accardion__arrow">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 9L12 15L18 9" stroke="url(#paint0_linear_31_2)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<defs>
						<linearGradient id="paint0_linear_31_2" x1="8" y1="-5.5" x2="12" y2="29" gradientUnits="userSpaceOnUse">
						<stop stop-color="#183AE9"/>
						<stop offset="1" stop-color="#2E9D75"/>
						</linearGradient>
						</defs>
					</svg>
				</div>
			</div>
			<div body class="accardion__body">
				<p>It is a long established <span>fact that</span> a reader will be distracted by the readable content of a page when looking at its layout</p>
			</div>
		</wcollapse>
	</div>

	<div class="accardion-wrapper">
		<wcollapse>
			<div header class="accardion__header">
				<h1>This is the header collapse</h1>
				<div class="accardion__arrow">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 9L12 15L18 9" stroke="url(#paint0_linear_31_2)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<defs>
						<linearGradient id="paint0_linear_31_2" x1="8" y1="-5.5" x2="12" y2="29" gradientUnits="userSpaceOnUse">
						<stop stop-color="#183AE9"/>
						<stop offset="1" stop-color="#2E9D75"/>
						</linearGradient>
						</defs>
					</svg>
				</div>
			</div>
			<div body class="accardion__body">
				<p>It is a long established <span>fact that</span> a reader will be distracted by the readable content of a page when looking at its layout</p>
			</div>
		</wcollapse>
	</div>







	<wcollapse>
		<div header class="accardion__header">
			<h1>This is the header collapse</h1>
			<div class="accardion__arrow">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 9L12 15L18 9" stroke="url(#paint0_linear_31_2)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<defs>
					<linearGradient id="paint0_linear_31_2" x1="8" y1="-5.5" x2="12" y2="29" gradientUnits="userSpaceOnUse">
					<stop stop-color="#183AE9"/>
					<stop offset="1" stop-color="#2E9D75"/>
					</linearGradient>
					</defs>
				</svg>
			</div>
		</div>
		<div body class="accardion__body">
			<p>It is a long established <span>fact that</span> a reader will be distracted by the readable content of a page when looking at its layout</p>
		</div>
	</wcollapse>

	<wcalendar></wcalendar>
</div>
