$primary_color: var(--primary_color);
$body_color: #242b36;
$dark: black;
$white: white;
$blue-gray: #868401;
$blue-gray-darken: #6d6b07;
$yellow: #e0dc10;
$yellow-darken:#d6d310;
$green: #928907;
$green-darken:#16a085;