<ng-container *ngIf="component.module === modules.INPUT && !component.hidden">
	<winput
		[placeholder]="component.placeholder || ''"
		[name]="component.label || 'name'"
		[ngClass]="component.class || ''"
		[focused]="!!component.focused"
		[items]="items()"
		[label]="component.label || ''"
		(change)="update($event)"
		[disabled]="disabled()"
		[type]="inputType()"
		[set]="setWinput()"
		(submit)="next()"
	></winput>

	<!-- ==== Password ==== -->
	<i
		*ngIf="component.type === inputTypes.PASSWORD || password"
		[class.icon-eye-off]="password"
		[class.icon-eye]="!password"
		(click)="togglePassword()"
		class="form-toggle-pass"
	></i>
	<!-- ========================= -->
</ng-container>

<wselect
	*ngIf="component.module === modules.SELECT"
	[placeholder]="component.placeholder || ''"
	(modelChange)="change.emit($event)"
	[ngClass]="component.class || ''"
	[label]="component.label || ''"
	[items]="component.items || []"
></wselect>

<!-- <wtextarea
	*ngIf="component.module === modules.TEXTAREA"
	[label]="component.label || ''"
	[placeholder]="component.placeholder || ''"
></wtextarea> -->

<wbutton
	*ngIf="component.module === modules.BUTTON"
	[ngClass]="component.class || ''"
	[click]="component.click"
	[disabled]="!form.valid"
	[type]="buttonType()"
>
	{{component.label}}
</wbutton>
