$primary_color: var(--primary_color);
$body_color: #242b36;
$dark: black;
$white: white;
$blue-gray: #868401;
$blue-gray-darken: #6d6b07;
$yellow: #e0dc10;
$yellow-darken:#d6d310;
$green: #928907;
$green-darken:#16a085;
$padding: 1;
$p1: 0;
$p2: 10px * $padding;
$p3: 15px * $padding;
$p4: 20px * $padding;
$p5: 25px * $padding;
$margin: 1;
$m1: 0;
$m2: 10px * $margin;
$m3: 15px * $margin;
$m4: 20px * $margin;
$m5: 50px * $margin;
$fs1: 14px;
$fs2: 16px;
$fs3: 20px;
$fs4: 24px;