<router-outlet></router-outlet>

<ng-template #textRef let-element>
	<winput
		[placeholder]="element.field.Placeholder"
		[name]="element.field.Label || 'name'"
		[focused]="element.component.focused"
		[ngClass]="element.component.class"
		[formControl]="element.control"
		[label]="element.field.Label"
		[form]="element.form"
		[value]="element.value"
	></winput>
</ng-template>

<ng-template #dateRef let-element>
	<winput
		type="date"
		[placeholder]="element.field.Placeholder"
		[name]="element.field.Label || 'name'"
		[focused]="element.component.focused"
		[ngClass]="element.component.class"
		[formControl]="element.control"
		[label]="element.field.Label"
		[form]="element.form"
		[value]="element.value"
	></winput>
</ng-template>

<ng-template #timeRef let-element>
	<winput
		type="time"
		[placeholder]="element.field.Placeholder"
		[name]="element.field.Label || 'name'"
		[focused]="element.component.focused"
		[ngClass]="element.component.class"
		[formControl]="element.control"
		[label]="element.field.Label"
		[form]="element.form"
		[value]="element.value"
	></winput>
</ng-template>

<ng-template #numberRef let-element>
	<winput
		type="number"
		[placeholder]="element.field.Placeholder"
		[name]="element.field.Label || 'name'"
		[focused]="element.component.focused"
		[ngClass]="element.component.class"
		[formControl]="element.control"
		[label]="element.field.Label"
		[form]="element.form"
		[value]="element.value"
	></winput>
</ng-template>

<ng-template #emailRef let-element>
	<winput
		type="email"
		[placeholder]="element.field.Placeholder"
		[name]="element.field.Label || 'name'"
		[focused]="element.component.focused"
		[ngClass]="element.component.class"
		[formControl]="element.control"
		[label]="element.field.Label"
		[form]="element.form"
		[value]="element.value"
	></winput>
</ng-template>

<ng-template #passwordRef let-element>
	<winput
		type="password"
		[type]="element.field.Show ? 'text' : 'password'"
		[name]="element.field.Label || 'name'"
		[focused]="element.component.focused"
		[ngClass]="element.component.class"
		[formControl]="element.control"
		[label]="element.field.Label"
		[form]="element.form"
		[value]="element.value"
	></winput>
	<div style="position: absolute;
	left: 170px;
	top:2px;">
		<span style="width: 15px;border-radius: 20px; height: 15px;background-color: rgb(187, 23, 23); display: inline-block; margin-left: 10px;" *ngIf="ui.level(element.control.value)> 1"></span>
		<span style="width: 15px;border-radius: 20px; height: 15px;background-color: rgb(235, 151, 25); display: inline-block; margin-left: 10px;" *ngIf="ui.level(element.control.value)> 2"></span>
		<span style="width: 15px;border-radius: 20px; height: 15px;background-color: rgb(255, 251, 0); display: inline-block; margin-left: 10px;" *ngIf="ui.level(element.control.value)> 3"></span>
		<span style="width: 15px;border-radius: 20px; height: 15px;background-color: rgb(33, 211, 17); display: inline-block; margin-left: 10px;" *ngIf="ui.level(element.control.value)> 4"></span>
	</div>
	<div>
		<span
			(click)="element.field.Show = !element.field.Show"
			class="material-icons"
			style="
				position: absolute;
				left: 245px;
				top: 40px;
				font-size: 22px;
				color: rgb(90, 90, 90);
			"
		>
			visibility
		</span>
	</div>
</ng-template>

<ng-template #buttonRef let-element>
	<wbutton>{{element.field.Label}}</wbutton>
</ng-template>
