<wform
	#formRef
	[config]="form"
	[submition]="submition"
	(wSubmit)="submit($event); close()"
	(wChange)="change($event)"
></wform>

<!-- <div *ngIf="!buttonRef"> -->
<div class="btn-action">
	<wbutton
		class="w-btn _primary"
		(click)="button.click(formRef._values(), close)"
		*ngFor="let button of buttons"
		[ngClass]="button.class"
	>
		{{button.label}}
	</wbutton>
</div>

<!-- <div *ngIf="buttonRef">
	<app-modal-form-button
		(clicked)="button.click(formRef._values(), close)"
		*ngFor="let button of buttons"
		[ngClass]="button.class"
		[buttonRef]="buttonRef"
		[button]="button"
	>
	</app-modal-form-button>
</div> -->
