<wbutton (click)="cs.create()">Create construction</wbutton>
<div *ngFor="let constructor of cs.constructors">
	<winput
		(wChange)="constructor.name = $event; cs.update(constructor)"
		placeholder="fill name of the constructor"
		[value]="constructor.name"
		label="Name"
	></winput>
	<winput
		(wChange)="constructor.domain = $event; cs.update(constructor)"
		placeholder="fill domain of the constructor"
		[value]="constructor.domain"
		label="Domain"
	></winput>
	<winput
		(wChange)="constructor.url = $event; cs.update(constructor)"
		placeholder="fill url of the constructor"
		[value]="constructor.url"
		label="Url"
	></winput>
	<winput
		(wChange)="constructor.description = $event; cs.update(constructor)"
		placeholder="fill description of the constructor"
		[value]="constructor.description"
		label="Description"
	></winput>
	<wselect
		(modelChange)="constructor.template = $event.name; cs.update(constructor)"
		[select]="constructor.template"
		placeholder="Select template"
		*ngIf="cs.templates.length"
		[items]="cs.templates"
		value="name"
	></wselect>

	<div *ngIf="constructor.template">
		<constructor-field
			[fields]="template(constructor.template).fields"
			(update)="cs.update(constructor)"
			[field]="constructor.field"
		></constructor-field>

		<wbutton
			(click)="
				constructor.components.push(cs.new_component());
				cs.update(constructor)
			"
		>
			Add component
		</wbutton>
		<div *ngFor="let component of constructor.components; index as i">
			<wselect
				(modelChange)="component.folder = $event.name; cs.update(constructor)"
				*ngIf="template(constructor.template).components?.length"
				[items]="template(constructor.template).components"
				placeholder="Select component"
				[select]="component.folder"
				value="name"
			></wselect>
			<constructor-field
				*ngIf="component.folder && templateComponent(constructor.template, component.folder)"
				[fields]="templateComponent(constructor.template, component.folder).fields"
				(update)="cs.update(constructor)"
				[field]="component.field"
			></constructor-field>
			<wbutton
				(click)="constructor.components.splice(i, 1); cs.update(constructor)"
				>Delete component</wbutton
			>
		</div>

		<wbutton
			(click)="constructor.sections.push(cs.new_section()); cs.update(constructor)"
			>Add section</wbutton
		>
		<div *ngFor="let section of constructor.sections; index as i">
			<div *ngFor="let component of section.components; index as j">
				<wselect
					(modelChange)="component.folder = $event.name; cs.update(constructor)"
					*ngIf="template(constructor.template).components?.length"
					[items]="template(constructor.template).components"
					placeholder="Select section"
					[select]="component.folder"
					value="name"
				></wselect>
				<constructor-field
					*ngIf="component.folder && templateComponent(constructor.template, component.folder)"
					[fields]="templateComponent(constructor.template, component.folder).fields"
					(update)="cs.update(constructor)"
					[field]="component.field"
				></constructor-field>
				<wbutton
					(click)="section.components.splice(j, 1); cs.update(constructor)"
					>Delete component</wbutton
				>
			</div>
			<wselect
				(modelChange)="section.folder = $event.name; cs.update(constructor)"
				*ngIf="template(constructor.template).sections?.length"
				[items]="template(constructor.template).sections"
				placeholder="Select section"
				[select]="section.folder"
				value="name"
			></wselect>
			<constructor-field
				*ngIf="section.folder && templateSection(constructor.template, section.folder)"
				[fields]="templateSection(constructor.template, section.folder).fields"
				(update)="cs.update(constructor)"
				[field]="section.field"
			></constructor-field>
			<wbutton
				(click)="constructor.sections.splice(i, 1); cs.update(constructor)"
				>Delete section</wbutton
			>
		</div>
	</div>
	<a
		*ngIf="constructor.domain && constructor.url"
		[href]="
			(constructor.domain.includes('localhost') ? 'http://' : 'https://') +
			constructor.domain +
			constructor.url
		"
		target="_blank"
		>Preview</a
	>
	<wbutton (click)="cs.delete(constructor)">Delete construction</wbutton>
</div>
