:root {
    // const
    --c-white: #fff;
    --c-black: #000;
    --c-grey: #BDBDBD;

    // theme
    --c-basic: #3558AE;
    --c-primary: #256EFF;
    --c-primary-hover: #0051f1;
    --c-secondary: red;
    --c-bg: #F3F4F7;
    --c-border: #F0F1F7;
    --c-shadow: #f3f3f3;
    --c-heading: #292922;
    --c-text: #444444;

    // classic
    --c-warn: #E67E22;
    --c-error: #E74C3C;
    --c-error-hover: #d62c1a;
    --c-success: #14c76e;
    --c-info: #17a2b8;

    // geometry
    --container: 1210px;
    --b-radius: 8px;
    --b-radius-card: 10px;
    --b-radius-btn: 10px;
    --b-radius-img: 50%;
	--padding: 10px;
    --fs: 16px;
    --ff-bold: bold;
    --ff-base: "Poppins",
        sans-serif;
    --letter-spacing: 0.3px;
    --transition: .3s all ease-in-out;
}



html.dark:root {
    --c-basic: #333;
}
