<div class="components">
<div>
	<h1> WAW Components</h1>
</div>
<hr>
<div class="breadcrumb_container">
	<h2>Breadcrumb</h2>
	<!-- braidcrums -->
	<ul id="breadcrumb">
		<li>
			<a href="#"><span class="icon icon-home"> </span></a>
		</li>
		<li>
			<a href="#"><span class="icon icon-beaker"> </span> Projects</a>
		</li>
		<li>
			<a href="#"><span class="icon icon-double-angle-right"></span> Breadcrumb</a>
		</li>
		<li>
			<a href="#"><span class="icon icon-rocket"> </span> Getting started</a>
		</li>
		<li>
			<a href="#"><span class="icon icon-arrow-down"> </span> Download</a>
		</li>
	</ul>
	<!-- illustration which drops somewhere at section, on different locations -->
</div>
</div>