<div class="wrapper-com">
    <winput></winput>
    <winput type="textarea"></winput>
    <winput type="radio"></winput>
    <winput type="checkbox"></winput>

    <winput type="password"></winput>
    <winput type="email"></winput>
    <winput type="number"></winput>
    <winput type="tel"></winput>
    <winput type="url"></winput>
    <winput type="search"></winput>
    <winput type="date"></winput>
    <winput type="datetime-local"></winput>
    <winput type="month"></winput>
    <winput type="week"></winput>
    <winput type="time"></winput>
    <winput type="color"></winput>

    <winput type="datetime"></winput>

    <winput type="range"></winput>

</div>