<div class="wrapper">
	<nav class="nav">
		<div class="nav_toggle" (click)="navToggle=!navToggle" [class._active]="navToggle">
			<span class="nav_toggle_line"></span>
		</div>
		<ul class="nav_ul" [class._active]="navToggle">
			<li><a routerLink="/users" *ngIf="us.me.is?.admin">Users</a></li>
		</ul>
		<div class="nav_avatar">
			<a routerLink="/profile">
				<img class="profile-img" alt="nav-avatar" [src]="us.me.avatarUrl">
			</a>
		</div>
	</nav>
	<div class="main">
		<router-outlet></router-outlet> 
	</div>
</div>
