<div class="wrapper" id="wrapper">
	<nav class="nav" (clickOutside)="show=false">
		<ul class="nav__ul container" [class._active]="show">
			<li class="nav__li">
				<a class="nav__a" (click)="show=false" routerLinkActive="_activeLink"  routerLink="/profile">
					<span class="material-icons">home</span>
				</a>
			</li>
			<li class="nav__li" *ngIf="us.user.is.admin">
				<a class="nav__a" (click)="show=false" routerLinkActive="_activeLink" [routerLinkActiveOptions]="{ exact: true }" routerLink="/admin/users">
					<span class="material-icons">people</span>
				</a>
			</li>
			<li class="nav__li _burger">
				<a class="nav__toggle" (click)="show=!show" [class._active]="show">
					<span class="nav__toggle-line"></span>
				</a>
			</li>
		</ul>
		<div class="nav__burger" [class._active]="show">
			<div class="nav__burger-list">
				<div class="theme-switch">
					<span class="material-icons" *ngIf="!mode" (click)="set('dark')">dark_mode</span>
					<span class="material-icons" *ngIf="mode" (click)="set()">light_mode</span>
				</div>
				<a class="nav__burger-link nav__burger-user" routerLink="/profile">
					<img class="avatar__img" width="50" height="50" [src]="us.user?.thumb || 'assets/default.png'" alt="">
					<div class="name">{{us.user.name || "Profile"}}</div>
				</a>
			</div>
		</div>
	</nav>
	<div class="main">
		<div class="fade" [@showInOut]="show" *ngIf="show"></div>
		<router-outlet></router-outlet>
	</div>
</div>
